<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Specialized Redesign</title>
    <link href="https://fonts.googleapis.com/css?family=Public+Sans:200,300,400,500,600,700&display=swap" rel="stylesheet">
   <script src="https://kit.fontawesome.com/6eb1dc7931.js" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
   <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/mainLanding.css">
    <link rel="stylesheet" href="/css/shopIndex.css">
    <link rel="stylesheet" href="/css/show.css">
</head>
<body>

   <!-- MAIN NAV -->
<nav id="mainNavbar" class="navbar navbar-expand-lg navbar-light">
  <!-- TOGGLER -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a href="/" class="navbar-brand navbar-center">
    <img id="brandIcon" class="navbar-brand" src="/public/img/CinLogo.jpg" alt="">
   </a>
 
  <!-- TOGGLED LINKS -->
  <div class="collapse navbar-collapse justify-content-center navbarLinks" id="navbarSupportedContent">
    <ul class="navbar-nav">
     <li class="nav-item" id="bikesButton">
        <a href=""  class="nav-link mainLink"  data-toggle="collapse" id="bikes">Bikes <i class="collapseIcon fas fa-caret-down fa-lg"></i>  </a>
        <a class="" data-toggle="collapse" href="" role="button" aria-expanded="false" aria-controls="bikesCollapse"></a>
      </li>
     <div class="collapse allCollapse" id="bikesCollapse">
      <ul>
        <li>
          <a href="">Road</a>
        </li>
        <li>
          <a href="">Gravel</a>
        </li>
        <li>
          <a href="">Track/Urban</a>
        </li>
        <li>
          <a href="">Frames</a>
        </li>
      </ul>
    </div>
      <li class="nav-item">
        <a href="/shop/bikes" class="nav-link mainLink" id="componenets">Components</a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link mainLink" id="apparel">Apparel</a>
      </li>
      <li class="nav-item" >
        <a href="" class="nav-link mainLink" id="insideCinelli">Inside Cinelli</a>
      </li>
    </ul>
  </div>
  <!-- ICONS RIGHT -->
  <div class="icons-right navbar-expand" id="">
    <ul class="navbar-nav navbar-right">
      <li class="nav-item" id="loginRegister">
        <a class="nav-link" href="#"><i class="fas fa-user fa-md"></i></a>
      </li>
      <li class="nav-item" id="findRetailer">
        <a class="nav-link" href="#"><i class="fas fa-map-marker-alt fa-md"></i> </a>
      </li>
      <li class="nav-item" id="shoppingCart">
        <a class="nav-link" href="#"><i class="fas fa-shopping-cart fa-md"></i></a>
      </li> 
    </ul>
  </div>
      
</nav>

<!-- BIKES DROPDOWN -->
<section class="container-fluid " id="dropdownMenu">
  <div class="row">
    <div class="col-lg-3" id="leftDiv">
      <p>Innovation</p>
      <p>Bike Archive</p>
      <p>Sale</p>
    </div>
      <div class="col-lg-6" id="centerDiv">
        <div>
          <ul>
            <h3>Road Bikes</h3>
            <li>Veltrix</li>
            <li>Superstar</li>
            <li>Vigorelli</li>
            <li>Semper</li>
          </ul>
        </div>
        <div>
          <ul>
            <h3>Gravel Bikes</h3>
            <li>Zydeco</li>
            <li>Hobootleg</li>
            <li>Gazzetta</li>
          </ul>
        </div>
        <div>
          <ul>
            <h3>Track/Urban Bikes</h3>
            <li>Tipo Pista</li>
            <li>Tutto</li>
            <li>Cinelli Tipo Pista</li>
          </ul>
        </div>
        <div>
          <ul>
            <h3>Frames</h3>
            <li>Veltrix</li>
            <li>Superstar</li>
            <li>Vigorelli</li>
          </ul>
        </div>
       
      </div>
    <div class="col-lg-3" id="rightDiv">
      <p>Stories</p>
      <p>About</p>
    </div>
  </div>
</section>