 body {
background-color: white;
/* background-color: #f8f7f7; */
}


/* HEADER */
#jumbotronMain {
    margin-bottom: 0;
     background-image: url("/img/cinelli headset.jpeg");
     background-size: cover;
     padding-bottom: 40%;
     
 }
  
 /* TEXT */
 #mainHeaderText {
     float: right;
     width: 35%;
     color: white;
    margin-right: 9%;
    margin-top: 20%;
 }
 
 #mainHeaderText h1 {
     text-transform: uppercase;
     padding-bottom: 1%;
     font-weight: 300;

 }

 /* BUTTON */
 .buttonMainDiv {
    
    font-size: 0;
}

.mainButton {
    font-size: 14px;
    border: none;
    padding: 15px;
    text-transform: uppercase;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    
}

#shopNow {
    background-color: #AE7825;
    font-weight: 500;
}

#learnMore {
    background-color: #6A81D8;
    font-weight: 500;
}
 
 @media (max-width: 1025px) {
     #mainHeaderText h1 {
         font-size: 30px;
     } 
     #mainHeaderText p {
         font-size: 16px;
     }
     .mainButton {
        font-size: 12px;
        border: none;
        padding: 12px;
        text-transform: uppercase;
        color: white;
        padding-left: 20px;
        padding-right: 20px;
    }
    .buttonMainDiv {
        width: 300px;
    } 
 }
 
 @media (max-width: 800px) {
     #mainHeaderText {
         margin-top: 10%;
         margin-right: 6%;
         float: none;
     }
 }

 @media (max-width: 575px) {
    #mainHeaderText {
        margin-top: 4%;
        margin-right: 2%;
        float: none;
    }
}

/* BOTTOM BORDER */
#yellowMain {
    background-color: #EBF54A;
    width: 10%;
    margin-left: 3%;
}

#redMain {
    background-color: #CF4747;
    width: 35%;
    margin-left: 3%;
}
#blackMain {
    background-color: black;
    width: 20%;
    margin-left: 3%;
  
}
#greenMain {
    background-color: #00CA0F;
    width: 19%;
    margin-left: 3%;
}