body {

}

#headerImage {
    position: relative;
   
    
   
}

#headerImage img {
    width: 100%;
    position: absolute;
    z-index: -2;
    height: auto;
    
}

#headerText {
    margin-top: 300px;
    color: white;
    text-transform: uppercase;
  
}

#headerText h1 {
    line-height: 50px;
    font-size: 40px;
    font-weight: 300;
    width: 400px;
    margin-bottom: 20px;

}

.buttonMain {
    
    font-size: 0;
}

.mainButton {
    font-size: 14px;
    border: none;
    padding: 15px;
    text-transform: uppercase;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
}

#shopNow {
    background-color: #AE7825;

}

#learnMore {
    background-color: #6A81D8;
    
}

@media (max-width: 1300px){
    #headerText {
        margin-top: 225px;
        margin-right: 75px;
    }
}

@media (max-width: 1100px) {
    #headerText {
        margin-top: 200px;
        margin-right: 50px;
    }
    #headerText h1 {
        font-size: 32px;
    }
    .mainButton {
        font-size: 12px;
        border: none;
        padding: 12px;
        text-transform: uppercase;
        color: white;
        padding-left: 20px;
        padding-right: 20px;
    }
    .buttonMain {
        width: 300px;
    }
}

@media (max-width: 991px) {
   
    #headerText {
        margin-top: 175px;
        margin-left: 300px;
    }
    #headerText h1 {
        font-size: 40px;
    }
    .mainButton {
        font-size: 12px;
        border: none;
        padding: 12px;
        text-transform: uppercase;
        color: white;
        padding-left: 20px;
        padding-right: 20px;
    }
    .buttonMain {
        width: 300px;
    } 
    #headerImage img {
        content: url("/public/img/Cinelli\ Headset\ closeup.jpeg");
    }     
}

@media (max-width: 900px){
     
    #headerText {
        margin-top: 175px;
        margin-left: 225px;
    }
}

@media (max-width: 800px) {
    #headerText {
      margin-top: 150px;
      margin-left: 125px;
    }
}

@media (max-width: 700px) {
    #headerText {
      margin-top: 125px;
      margin-left: 100px;
    }
}

@media (max-width: 600px) {
    #headerText {
      margin-top: 125px;
      margin-left: 25px;
    }
}
