body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: black;
    height: 100%;
}
.sign-in {
    background-color: #CF4747;
} 

/* MAIN NAVBAR */
#brandIcon {
   width: 190px;
   margin: px;
   margin-top: -10px;
}

.navbar-center {
    padding-top: 5px;
    padding-bottom: 0;
    margin-top: 5px;
    margin-bottom: 0;
}

#mainNavbar {
    background-color: white;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 0;
    padding-bottom: 0;
    text-transform: uppercase;
    color: black;
   
}

#mainNavbar a {
    color: black;
    align-items: center;
    
}

.mainLink {
    margin-left: 20px;
    margin-right: 20px;
}

.navbarLinks .nav-item {
    font-size: 11.5px;
    letter-spacing: 1px;
    padding-top: 23px;
    padding-left: 32px;
    padding-right: 32px;
    text-decoration: none;
    text-transform: uppercase;
    height: 80px;
    display: inline;
    font-weight: 500;
    
}

.icons-right li {
    padding-left: 1.1em;
    padding-right: 1.1em;
    margin: 0;
    margin-top: 0px;
    display: inline;
}

#bikes {
    border-bottom: 3px solid #F54343;
}

#componenets {
    border-bottom: 3px solid #00CA0F;
}

#apparel {
    border-bottom: 3px solid #EBF54A;
}

#insideCinelli  {
    border-bottom: 3px solid black;
}

.icons-right {
    display: inline-block;
}

.navbar-toggler {
    border: none;
    outline: none;
    color: black;
}

@media (max-width: 1250px) {
    .navbarLinks .nav-item {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 1150px) {
    .icons-right li {
        padding: 10px;
    }
    .navbarLinks .nav-item {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 991px) {
    .icons-right li {
       margin: 0px;
       margin-top: 0px;
    }
    #brandIcon {
        margin-left: 40px;
        align-items: center;
    } #mainNavbar {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media (max-width: 600px) {
    .icons-right li {
        margin: 0px;
        margin-top: 0px;
     }
     #brandIcon {
         margin-left: 25px;
     }
      #mainNavbar {
         padding-left: 15px;
         padding-right: 15px;
     }
}

/* DROPDOWN MENU */
#dropdownMenu {
    background-color: white;
    position: absolute;
    height: 170px;
    box-shadow: 5px 1px 20px #E3E3E3;
    opacity: 0;
    z-index: -2;
}

#centerDiv div {
   display: inline-block;
   padding-right: 15px;
   vertical-align: top;
}

#dropdownMenu h3 {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 2px;
}

#dropdownMenu li {
    font-size: 11.4px;
    list-style-type: none;
    font-weight: 300;
    line-height: 25px;
}

#centerDiv {
    border-right: 1px solid #E1E1E1;
    border-left: 1px solid #E1E1E1;
    height: 170px;
    text-align: left;
    padding: 25px;
}

#leftDiv {
    text-align: right;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    padding-top: 23px;
    padding-right: 30px;
}

#rightDiv {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    padding-top: 23px;
    padding-left: 30px;
}


/* DROPDOWN BUTTONS */
.mainLink {
    display: inline;  
    margin: 0px; display: block; width: 100%;  
}

.collapseIcon  {
     float: right;
    vertical-align: top;
}
.allCollapse li {
    text-decoration: none;
    list-style:none;
}
