<%- include("../partials/header") %>


<section>
    <h4>The Recon Family</h4>
    <h1>Off-Road Performance for All</h1>
    <button>Learn More</button>
    <button>Shop Now</button>
</section>

<%- include("../partials/footer") %>

