<%- include("../partials/header") %>

<div id="headerImage">
    <img src="img/cinelli headset.jpeg" alt="">
</div>
<div class="container" >
    <div class="row justify-content-end " id="headerText">
        <div class="col-lg-5" >
            <section>
                <h4></h4>
                <h1>Handmade in Italy since 1947</h1>
               <div class="buttonMain">
                <button id="learnMore">Learn More</button>
                <button id="shopNow">Shop Now</button>
               </div>
            </section>
        </div>
    </div>
</div>


<%- include("../partials/footer") %>

