<%- include("../partials/header") %>


<div class="jumbotron-fluid" id="jumbotronMain">
    <img src="" alt="">
     <div id="mainHeaderText">
        <h1>Handmade in Italy since 1947</h1>
        <div class="buttonMainDiv">
         <button class="mainButton" id="learnMore">Learn More</button>
         <button class="mainButton" id="shopNow">Shop Now</button>
        </div>
     </div>
   </div>
   <div id="borderHeaderBottom">
      <ul> 
         <li class="bottomBorderColors" id="redMain"></li>
         <li class="bottomBorderColors" id="yellowMain"></li>
         <li class="bottomBorderColors" id="greenMain"></li>
         <li class="bottomBorderColors" id="blackMain"></li>
     </ul>
    
   </div>

<%- include("../partials/footer") %>






